.container {
    padding: 5px;
}

#cancha-container {
    width: 100%;
}

.card {
    margin-left: 0;
    background-color: #fefefe;
    color: #212529;
    border-radius: 13px 13px 0px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none !important;
    width: 100% !important;
    transition: all 0.7s ease;
    padding-bottom: 20px;
}



.card:hover {
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
    transition: all 0.7s ease;
    border: none !important;
}

.card-title {
    font-weight: bold;
}

.card-header {
    background-image: url('../../assets/img-canchas/fondo-canchas-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

.card-body {
    font-size: 14px;
}

#botones-crud {
    width: 65%;
    display:flex;
    justify-content:left;
    align-items: center;
}

#btn-nueva-cancha {
    margin-right: 20px;
}

#btn-eliminar-cancha {
    width: 40%;
    margin-left: 10px;
    border-radius: 13px;
}

#btn-editar-cancha {
    width: 40%;
    margin-right: 10px;
    border-radius: 13px;
}

#info-crud {
    width: 35%;
    text-align: center;
}