.container {
    padding: 5px;
}

#cancha-container .card {
    margin-left: 0;
    background-color: #f1f1f1;
    color: #212529;
    border-radius: 13px 13px 0px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 10px); /* Dos por fila con margen */
    max-width: 90% !important;
}

.card {
    border: none !important;
    width: 90% !important;
    transition: all 0.7s ease;
    padding-bottom: 20px;
}

.card:hover {
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
    transition: all 0.7s ease;
    border: none !important;
}

.card-title {
    font-weight: bold;
}

.card-body {
    font-size: 14px;
}

#botones-crud {
    width: 65%;
    display:flex;
    justify-content:left;
    align-items: center;
}

#btn-nueva-cancha {
    margin-right: 20px;
}

#btn-eliminar-cancha {
    width: 45%;
    margin-left: 10px;
}

#btn-editar-cancha {
    width: 45%;
    margin-right: 10px;
}

#info-crud {
    width: 35%;
    text-align: center;
}